<%= form_with(model: chef, local: true) do |form| %>
  <% if chef.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(chef.errors.count, "error") %> prohibited this chef from being saved:</h2>

      <ul>
      <% chef.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :chef_email %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :chef_name %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :chef_address %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password, id: :chef_password %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, id: :chef_password_confirmation %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
