<p id="notice"><%= notice %></p>

<h2>My Menu Items</h2>
<table>
  <thead>
    <tr>
      <th colspan="1">Name</th>
      <th colspan="1">Price</th>
      <th colspan="1">Created At</th>
      <th colspan="1">Updated At</th>
    </tr>
  </thead>

  <tbody>
    <% @my_menu_items.each do |menu_item| %>
      <tr>
        <td><%= menu_item.name %></td>
        <td><%= menu_item.price %></td>
        <td><%= menu_item.created_at.stamp("April 21, 2017") %></td>
        <td><%= menu_item.updated_at.stamp("April 21, 2017") %></td>
        <td><%= link_to 'Show', menu_item %></td>
        <td><%= link_to 'Edit', edit_menu_item_path(menu_item) %></td>
        <td><%= link_to 'Destroy', menu_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Menu Item', new_menu_item_path %>

<br>
<br>

<h2>Other Chef's Items</h2>
<table>
  <thead>
    <tr>
      <th colspan="1">Name</th>
      <th colspan="1">Price</th>
      <th colspan="1">Chef</th>
      <th colspan="1">Created At</th>
      <th colspan="1">Updated At</th>
    </tr>
  </thead>

  <tbody>
    <% @other_menu_items.each do |menu_item| %>
      <tr>
        <td><%= menu_item.name %></td>
        <td><%= menu_item.price %></td>
        <td><%= menu_item.chef.name %></td>
        <td><%= menu_item.created_at.stamp("April 21, 2017") %></td>
        <td><%= menu_item.updated_at.stamp("April 21, 2017") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
