<p id="notice"><%= notice %></p>

<p>
  <strong>Restaurant:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @menu_item.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @menu_item.price %>
</p>


<%= link_to 'Edit', edit_restaurant_menu_item_path(@menu_item, restaurant_id: @restaurant.id) %> |
<%= link_to 'Back', restaurant_menu_items_path %>
