<p id="notice"><%= notice %></p>

<h4>Name: <%= @menu_item.name %></h4>
<h4>Price: <%= @menu_item.price %></h4>

<%= link_to 'Edit', edit_menu_item_path(@menu_item) %> |
<%= link_to 'Back', menu_items_path %>
