<h1>Managers Dashboard</h1>

<p id="notice"><%= notice %></p>

<%= link_to "Edit Restaurant", manager_restaurants_path %>

<br>

<%= link_to "Manage Chefs", chefs_path %>

<br>

<%= link_to "Manage Couriers", couriers_path %>

<br>

<%= link_to "Manage Orders", managers_orders_path %>