<% orders.each do |o| %>
  <div class="courier-order-panel">
    <div class="order">
      <div class="col customer-id">
        <b>Customer E-mail:</b>
        <span><%= o.customer.email %></span>
      </div>

      <div class="col customer-address">
        <b>Destination:</b>
        <span><%= o.customer.address %></span>
      </div>
    </div>

    <div class="update-status-form">
      <%= form_with(model: [:couriers, o], method: "PUT", local: true) do |form| %>
        <div class="field">
          <%= form.label :status %>

          <%= form.radio_button :status, :approved %>
          <%= form.label :status, :approved, style: "display: inline-block" %>
          <br />

          <%= form.radio_button :status, :delivered %>
          <%= form.label :status, :delivered, style: "display: inline-block" %>
          <br />
        </div>

        <div class="actions">
          <%= form.submit "Update Status" %>
          <%= link_to "Show Order", [:couriers, o], class: "" %>
        </div>
      <% end %>
    </div>
  </div>

<% end %>