<p id="notice"><%= notice %></p>

<p>
  <strong>Index:</strong>
  <%= @restaurant.index %>
</p>

<p>
  <strong>Show:</strong>
  <%= @restaurant.show %>
</p>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
