<h2>Customer</h2>
<h5>Name: <%= @order.customer.name %></h5>

<h2>Order Summary</h2>
<h5></h5>

<table>
  <thead>
    <tr>
      <th colspan="1">Item</th>
      <th colspan="1">Rating</th>
      <th colspan="1">Comment</th>
    </tr>
  </thead>

  <tbody>
    <% @order.menu_item_feedbacks.each do |mif| %>
      <tr class="customers-order-fucks">
        <td><%= mif.menu_item.name %></td>
        <td><%= mif.rating %></td>
        <td><%= mif.comment %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>
<br>
<h3>Approve/Reject feedback: (currently: '<%= @order.status %>') </h3>
<!-- APPROVE! -->
<%= form_for [:managers, @order], local: true do |form| %>
  <div class="actions">
    <%= form.hidden_field :status, value: :feedback_approved %>
    <%= form.submit "APPROVE" %>
  </div>
<% end %>

<!-- REJECT! -->
<%= form_for [:managers, @order], local: true do |form| %>
  <div class="actions">
    <%= form.hidden_field :status, value: :feedback_rejected %>
    <%= form.submit "REJECT" %>
  </div>
<% end %>
