<div>
  <nav class="navbar navbar-default navigation-clean-search">
    <div class="container">
      <div class="navbar-header"><a class="navbar-brand navbar-link" href="/"><i class="glyphicon glyphicon-cutlery" style="margin-right:4px;"></i>TooManyCooks!</a>
        <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
      </div>
      <div class="collapse navbar-collapse" id="navcol-1">
        <%= form_with url: restaurants_path, method: "GET", local: true, class: "navbar-form navbar-left" do |form| %>
          <div class="form-group">
            <label class="control-label" for="search-field"><i class="glyphicon glyphicon-search"></i></label>
            <%= form.text_field :name, class: "form-control search-field", style: "width: 300px;", type: "search", placeholder: "Restaurant Name Here..." %>
            <%= form.submit "Search", class: "btn btn-primary btn-block btn-lg", style: "display: none;" %>
          </div>
        <% end %>

        <% if current_customer %>
          <%= link_to "Log out", destroy_customer_session_path, class: "btn btn-default navbar-btn navbar-right action-button", style: "margin-right: 5px; background: rgba(128, 128, 128, 0.31); color: rgb(86, 57, 18);" %>
        <% else %>
          <%= link_to "Sign Up", new_customer_registration_path, class: "btn btn-default navbar-btn navbar-right action-button" %>
          <%= link_to "Log In", new_customer_session_path, class: "btn btn-default navbar-btn navbar-right action-button", style: "margin-right: 5px; background: rgba(128, 128, 128, 0.31); color: rgb(86, 57, 18);" %>
        <% end %>
      </div>
    </div>
  </nav>
  <div class="container" style="margin:0px;padding:0px;width:auto;"></div>
</div>