<!DOCTYPE html>
<html>
  <head>
    <title>TooManyCooks</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic">
  </head>

  <body>
    <!-- TODO: This is just the temp cart holder for now. Need to pretty it up and rethink show/hide logic -->
    <%= render partial: "layouts/cart" if current_customer.present? %>

    <%= yield %>
  </body>
</html>
